<ion-content>
    <div class="main-content">
        <ion-img class="img-logo" src="assets/images/logo.png"></ion-img>
        <form [formGroup]="loginForm" (ngSubmit)="login()" style="padding: 0 0px;">
            <ion-grid class="info-view">
                <ion-row class="p-0">
                    <ion-col size="12">
                        <div>
                            <ion-label class="btittle">Welcome</ion-label>
                        </div>
                        <div>
                            <ion-label class="graytxt">Sign in to continue !</ion-label>
                        </div>
                        <div class="form-group" style="margin-top:40px;">
                            <ion-input type="tel" maxlength="10" placeholder="Mobile No" formControlName='mobile' class="form-control">
                                <ion-label *ngIf="this.loginForm.get('mobile').value.length ==10" style="color:#2a6193; margin-right: 10px;" (click)="GetOTP()">GET</ion-label>
                            </ion-input>
                        </div>
                        <div class="form-group" *ngIf="getOTP">
                            <ion-input type="tel" maxlength="6" class="form-control" placeholder="OTP" formControlName='otp'></ion-input>
                        </div>
                        <div class="button_box" style="margin-top:30px;">
                            <ion-button class="btn-blue" type="submit" [disabled]="!loginForm.valid">Submit</ion-button>
                        </div>
                        <div class="text-center  mx-20 ">
                            <ion-label (click)="register()" class="f-15">Don't have an account?
                                <a style="color:#2a6193;"><b>Sign up</b></a>
                            </ion-label>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </div>
</ion-content>