<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid style="padding: 5px 8px !important; background-color: #ee6706 !important;" no-padding class="header padding-0">
                <ion-row style="align-items: center;">
                    <ion-col size="12">
                        <div class="page_had">

                            <ion-buttons (click)="tools.backPage()" no-padding>
                                <ion-img class="img" src="../../../assets/images/back.png"></ion-img>
                            </ion-buttons>
                            <ion-label class="page_title">Wallet</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content style="background: #fff">
    <ion-row style="background: #ee6706; min-height: 200px !important;">
        <ion-col>
            <ion-label class="text-center d-block f-15 mt-20" style="color: #fff;">Available Amount</ion-label>
            <ion-label class="btittle d-block mt-10">{{DisplayAmount| currency :'INR':'symbol':'1.2-2' }}</ion-label>

            <div style="margin: 15px !important;">
                <ion-input type="tel" placeholder="Enter Amount" [(ngModel)]="amount" *ngIf="firstAdd" class="form-control"></ion-input>
                <ion-button class="btn-blue mt-20" (click)="addMoney()">Add Money</ion-button>
            </div>
            
        </ion-col>
    </ion-row>


    <ion-grid class="container mt-20">
       
      <ion-row>
            <ion-button *ngIf="ShowClear =='1'"  class="btn-primary1" (click)="clear()" >Clear</ion-button>
            <ion-icon  *ngIf="TransactionList?.length !== 0"  (click)="WalletFilter()" style="color: #2a6193;height: 40px !important;width: 17% !important;
            margin: 0px 0px 2px auto !important;"             name="filter-outline" ></ion-icon>

      </ion-row>
        <ion-row class="box-des" *ngFor="let trans of TransactionList ;">
            <ion-col>
                <ion-row>
                    <ion-col size="1.5" class="py-0">
                        <ion-img class="menu-img" *ngIf="trans.IconType =='Recharge'" src="assets/images/up.png"></ion-img>
                        <ion-img class="menu-img" *ngIf="trans.IconType =='Purchase'" src="assets/images/down.png"></ion-img>
                        <ion-img class="menu-img" *ngIf="trans.IconType =='Cancelled'" src="assets/images/cancel.png"></ion-img>
                        <ion-img class="menu-img" *ngIf="trans.IconType =='Referal'" src="assets/images/refer.png"></ion-img>
                    </ion-col>
                    <ion-col size="7" class="left_col">
                        <ion-label class="subtxt text-left d-block">{{trans.remark}}</ion-label>
                        <ion-label class="subtxt text-left d-block">{{trans.PaymentDate}}</ion-label>
                    </ion-col>
                    <ion-col size="3.5" class="right_col">
                        <ion-label class="btext text-right d-block" [ngClass]="{'greencolor' : trans.CRDB == 'CR','radcolor' : trans.CRDB == 'DR' }">{{trans.CRDB}}</ion-label>
                        <ion-label class="btext text-right d-block">{{trans.PaymentAmt| currency :'INR':'symbol':'1.2-2' }}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>

        </ion-row>

    </ion-grid>

    <ion-grid class="container empty-list-box" *ngIf="TransactionList?.length == 0">
        <ion-row class="p-0">
            <ion-col size="12" class="p-0">
                <ion-label class="empty-list">No Data Available!</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>