<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid style="padding: 5px 8px !important; background-color: #ee6706 !important;" no-padding class="header padding-0">
                <ion-row style="align-items: center;">
                    <ion-col size="12">
                        <div class="page_had">
                            <ion-buttons (click)="tools.backPage()" no-padding>
                                <ion-img class="img" src="../../../assets/images/back.png"></ion-img>
                            </ion-buttons>
                            <ion-label class="page_title">My Profile</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="container mt-40">

        <ion-row class="p-0" class="pro_infobox">
            <ion-col class="p-0" size="12">
                <!-- <div class="pro_img">
                    <ion-input *ngIf="IsEdit" type="file" (change)="onFileChange($event)" class="file_input" accept="image/*"></ion-input>
                    <ion-img *ngIf="!IsEdit" src="assets/images/profile.png"></ion-img>
                    <ion-img *ngIf="IsEdit" src="assets/images/editprofile.png"></ion-img>
                    <ion-img *ngIf="image1" src="data:image/png;base64,{{image1}}"></ion-img>

                </div> -->

                <div class="pro_img">
                    <ion-img *ngIf="this.user.Image && !IsEdit" src="{{this.user.Image}}">
                    </ion-img>
                    <ion-img *ngIf="!this.user.Image && !IsEdit" src="assets/images/profile.png"></ion-img>

                    <ion-img *ngIf="IsEdit && !image1" src="assets/images/editprofile.png" (click)="selectImage(1)"></ion-img>

                    <!-- <ion-input *ngIf="IsEdit" type="file" (change)="onFileChange($event)" class="file_input" accept="image/*"></ion-input> -->
                    <ion-img class="circle-pic" *ngIf="image1" src="data:image/png;base64,{{image1}}" (click)="selectImage(1)"></ion-img>
                    <!-- <ion-img class="circle-pic" *ngIf="image1" src="../../../assets/images/logo.png"></ion-img> -->
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="container">
        <ion-row class="forms_boxs">
            <ion-col size="12" class="p-0">
                <form [formGroup]="loginForm" (ngSubmit)="SaveProfile()" style="padding: 0 0px;">
                    <ion-grid class="info-view">
                        <ion-row class="p-0">
                            <ion-col size="12">
                                <div class="form-group">
                                    <ion-input type="text" placeholder="First Name" [readonly]="!IsEdit?true:false" formControlName='fname' class="form-control"></ion-input>

                                </div>
                                <div class="form-group">
                                    <ion-input type="text" placeholder="Last Name" [readonly]="!IsEdit?true:false" class="form-control" formControlName='lname'></ion-input>
                                </div>

                                <div class="form-group">
                                    <ion-input type="tel" [readonly]="true" maxlength="10" placeholder="Mobile No" class="form-control" formControlName='mobile'>
                                        <!-- <ion-input type="tel" maxlength="10" placeholder="Mobile No" formControlName='mobile' class="form-control"> -->
                                        <!-- <ion-label *ngIf="this.loginForm.get('mobile').value.length ==10 && IsEdit" style="color:#2a6193; padding-right: 10px;" (click)="GetOTP()">GET</ion-label> -->
                                    </ion-input>
                                </div>
                                <div class="form-group">
                                    <ion-input type="text" placeholder="Reference By" 
                                    [readonly]="true" class="form-control" formControlName='refname'></ion-input>
                                </div>

                                <div class="form-group" *ngIf="IsEdit && getOTP">
                                    <ion-input type="tel" maxlength="6" class="form-control" placeholder="OTP" formControlName='otp'></ion-input>
                                </div>

                                <div class="button_box" style="margin-top:30px;" *ngIf="!IsEdit">
                                    <ion-button class="btn-blue" (click)="editProfile()">Edit Profile</ion-button>
                                </div>
                                <div class="button_box" style="margin-top:30px;" *ngIf="IsEdit">
                                    <ion-button class="btn-blue" type="submit">Save Profile</ion-button>
                                </div>

                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>