<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid style="padding: 5px 8px !important; background-color: #ee6706 !important;" no-padding class="header padding-0">
                <ion-row style="align-items: center;">
                    <ion-col size="12">
                        <div class="page_had">

                            <ion-buttons (click)="tools.backPage()" no-padding>
                                <ion-img class="img" src="../../../assets/images/back.png"></ion-img>
                            </ion-buttons>
                            <ion-label class="page_title">{{GameName}}</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content style="background: #fff">
    <ion-grid class="container mt-20">
        <ion-label class="btext" style="display: block; font-size: 20px !important;">Entire Closing In : {{GameClosingTime}}</ion-label>
        <!-- <div class="form-group mt-20">
            <ion-select okText="Ok" placeholder="Select Scrip" class="custom_select" cancelText="Dismiss" ngModel="scripName" (ionChange)="onChangeState($event)">
                <ion-select-option *ngFor="let item of ScripList" value="{{item.ScriptID}}">{{item.ScriptName}}</ion-select-option>
            </ion-select>
        </div> -->
        <!-- <div class="form-group mt-20" *ngIf="this.GameType =='E' && this.Option.length !=0">
            <ion-select okText="Ok" placeholder="Select UP-DOWN" class="custom_select" cancelText="Dismiss" ngModel="upDownName" (ionChange)="onChangeUpDownState($event)">
                <ion-select-option *ngFor="let item of Option" value="{{item.Optionvalue}}">{{item.Optionvalue}}</ion-select-option>
            </ion-select>
        </div> -->
        <!-- <div class="form-group mt-10" style="text-align: center;">
            <ion-input Type="text" class="form-control">{{scripName}}</ion-input>
        </div>
        <div class="form-group mt-10" style="text-align: center;">
            <ion-input type="text" class="form-control">{{SelectedAnswer}}</ion-input>
        </div> -->

        <ion-row class="mt-20">
            <!-- <ion-col>
                <ion-checkbox style="vertical-align: middle;" (ionChange)="isAllChecked($event)"></ion-checkbox>
                <ion-label class="open-models" style="padding-left: 5px;vertical-align: middle;">Join All Contest</ion-label>
            </ion-col> -->
            <ion-col style="text-align: center;">
                <ion-label>{{contestList.length}} Contest Selected</ion-label>
            </ion-col>
        </ion-row>

        <ion-row class="box-des" style="margin-top: 20px !important;" *ngFor="let contest of contestList ;">
            <ion-col>
                <ion-row class="user-info-block">
                    <ion-col size="9">
                        <ion-label class="btext">Contest Fee : Rs {{contest.GameAmt}}</ion-label>
                    </ion-col>
                    <!-- <ion-col size="3">
                        <ion-item class="chkbox">
                            <ion-checkbox slot="start" [(ngModel)]="contest.isChecked" (ionChange)="changeItem(contest)"></ion-checkbox>
                        </ion-item>
                    </ion-col> -->
                </ion-row>
                <ion-row>
                    <ion-col class="left_col" size="4">
                        <ion-label class="subtxt d-block">Total Players</ion-label>
                        <ion-label class="subtxt d-block">{{contest.totalplayers}}</ion-label>
                    </ion-col>
                    <ion-col class="right_col" size="4">
                        <ion-label class="subtxt d-block">Max Win Amt</ion-label>
                        <ion-label class="subtxt d-block">{{contest.GameAmt}}</ion-label>
                    </ion-col>
                    <ion-col class="right_col" size="4">
                        <ion-label class="subtxt d-block">Max Winners</ion-label>
                        <ion-label class="subtxt d-block">{{contest.MaxWinner}}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="left_col form-group mt-10" size="6" style="text-align: center !important;">
                        <ion-input Type="text" class="form-control">{{contest.ScriptName}}</ion-input>
                    </ion-col>
                    <ion-col class="right_col form-group mt-10" size="6" style="text-align: center !important;">
                        <ion-input type="text" class="form-control">{{contest.SelectedAnswer}}</ion-input>
                    </ion-col>
                </ion-row>
            </ion-col>

        </ion-row>


    </ion-grid>

    <ion-grid class="container empty-list-box" *ngIf="contestList?.length == 0">
        <ion-row class="p-0">
            <ion-col size="12" class="p-0">
                <ion-label class="empty-list">No Data Available!</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<!-- <ion-footer style="min-height: 70px !important;">
    <ion-row>
        <ion-col size="6">
            <ion-label class="btext">Total Fee : Rs {{TotalFee}}</ion-label>
        </ion-col>
        <ion-col size="4">
            <ion-button class="btn" (click)="pay()">PAY</ion-button>
        </ion-col>
    </ion-row>
</ion-footer> -->