<ion-content>
    <ion-grid class="container mt-20" (click)="GameDetails(game.ContestID,game.ContestName,game.ContestType)" *ngFor="let game of gameList ;">
        <ion-label class="content d-block">Date {{game.GameDate}} (Weekly)</ion-label>
        <ion-row class="box-des">
            <ion-col>
                <ion-row class="user-info-block">
                    <ion-col size="2" class="p-0">
                        <ion-img class="menu-img" src="assets/images/forcast.png"></ion-img>
                    </ion-col>
                    <ion-col size="7.5">
                        <ion-label class="btext">{{game.ContestName}}</ion-label>
                    </ion-col>
                    <ion-col size="2.5">
                        <ion-button class="btn">Join</ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-label class="graytxt">Entires Closing In :
                            <a style="color:#2a6193;"><b></b></a>
                        </ion-label>
                    </ion-col>
                </ion-row>

            </ion-col>

        </ion-row>
    </ion-grid>

    <ion-grid class="container empty-list-box" *ngIf="gameList?.length == 0">
        <ion-row class="p-0">
            <ion-col size="12" class="p-0">
                <ion-label class="empty-list">No Data Available!</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>