<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-grid style="padding: 5px 8px !important; background-color: #ee6706 !important;" no-padding class="header padding-0">
                <ion-row style="align-items: center;">
                    <ion-col size="12">
                        <div class="page_had">

                            <ion-buttons (click)="tools.backPage()" no-padding>
                                <ion-img class="img" src="../../../assets/images/back.png"></ion-img>
                            </ion-buttons>
                            <ion-label class="page_title">Game Details</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content style="background: #fff">
    <ion-grid class="container mt-20">
        <ion-row class="box-des" *ngFor="let hist of GameHistory ;">
            <ion-col>
                <ion-row>
                    <ion-col size="12">    
                        <ion-label class="btext">{{hist.ContestName}}({{hist.ScriptName}})</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="left_col"  size="5.5">    
                        <ion-label class="content d-block">Contest Fee : {{hist.totalPay| currency :'INR':'symbol':'1.2-2' }}</ion-label>
                    </ion-col>
                    <ion-col class="left_col"  size="6.5">    
                        <ion-label class="content d-block">Selected ANS : {{hist.SelectedAnswer}}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="left_col"  size="6">    
                        <ion-label class="content d-block">Closing Price : {{hist.PriceDifference}}</ion-label>
                    </ion-col>
                    <ion-col class="right_col"  size="6">    
                        <ion-label style="font-size: 18px !important;" [ngClass]="{'greencolor' : hist.StatusName == 'Won','radcolor' : hist.StatusName == 'Lost' || 
                hist.StatusName == 'Cancelled'}">{{hist.StatusName}}</ion-label>
                    </ion-col>
                </ion-row>


            </ion-col>



        </ion-row>

        <!-- <ion-row class="products_list box-des" *ngFor="let inq of AdminInqDetails ;"> -->
        <!-- <ion-row class="products_list box-des mt-10">
            <ion-col class="prod_content left_col">
                <ion-label class="d-block title f-15">Player name</ion-label>
            </ion-col>
            <ion-col class="prod_qty right_col">
                <ion-label>00000</ion-label>
            </ion-col>
        </ion-row> -->
        <ion-row class="products_list box-des mt-10" [ngClass]="{'btn-green' : user.isWin == '1'}" *ngFor="let user of GameHistoryUserDetail ;">
            <ion-col class="prod_content left_col">
                <ion-label class="d-block title f-15">{{user.username}}</ion-label>
            </ion-col>
            <ion-col class="prod_qty right_col">
                <ion-label>{{user.SelectedAnswer}}</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="container empty-list-box" *ngIf="GameHistory?.length == 0">
        <ion-row class="p-0">
            <ion-col size="12" class="p-0">
                <ion-label class="empty-list">No Data Available!</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>